#userDashboardTable {
  position: absolute;
  display: grid;
  left: 0px;
  top: 100px;
  border-radius: 10px;
  border: 3px solid var(--color1);
  table-layout: fixed;
  border-collapse: separate;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color1);
  overflow-x: hidden;
}

#userDashboardTable tr {
  font-size: 20px;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody td:hover {
  color: var(--primary-accent);
}

.UserTableTr:nth-child(even) {
  background-color: var(--shadow-color);
  border-radius: 10px;
}

.tdId {
  width: 100px;
}

.tdusername {
  width: 600px;
}

.tdEvent {
  width: 120px;
}

.tdMisc {
  width: 120px;
}

#userButtonsContainer {
  position: absolute;
  left: 0px;
  top: 10px;
  display: grid;
  grid-template-columns: 160px 160px;
  grid-gap: 40px;
  height: auto;
  width: 360px;
}

#turnEventsOn {
  display: grid;
  height: 60px;
  width: 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

#turnEventsOff {
  display: grid;
  height: 60px;
  width: 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
